<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>p2.js</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Style -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/docs.css" rel="stylesheet">

  </head>

  <body>

    <header class="jumbotron subhead" id="overview">
      <div class="container">
        <h1>p2.js</h1>
        <p class="lead">JavaScript 2D physics</p>
      </div>
    </header>

    <%

    // Filter
    var classes = getCommentsByTag(comments,{ type: "class" });
    var propertyComments =  getCommentsByTag(comments,{ type : "property" }).concat(getCommentsByTag(comments,{ type : "member" }));
    var methodComments =    getCommentsByTag(comments,{ type : "method" });

    // Sort
    classes.sort(function(a,b){
        if(a.ctx.name > b.ctx.name) return 1;
        else if(a.ctx.name < b.ctx.name) return -1;
        else return 0;
    });

    function linkMeMaybe(datatype){
        var t = datatype;
        if(t.match(/p2/)){
            // Internal p2.js type
            return '<a href="#'+t.replace("p2.","")+'">'+t.replace("p2.","")+'</a>';
        } else {
            return t;
        }
    }

    %>

    <div class="container">

        <div class="row">
            <div class="span3">
                <h3>Classes</h3>
                <ul class="nav nav-list"><%
                    for(var i=0; i<classes.length; i++){
                        var c = classes[i];
                        %><li><a href="#<%=c.ctx.name%>"><i class="icon-chevron-right"></i> p2.<%=c.ctx.name%></a></li><%
                    }
                %></ul>
            </div>
            <div class="span9">
                <section id="classes">
                    <% // Print classes
                    for(var i=0; i<classes.length; i++){
                        var f = classes[i];
                        var paramTags = filterTags(f.tags,{ type : "param" });
                        var extendsTags = filterTags(f.tags,{ type : "extends" });

                        var paramNames = [];
                        for(var j=0; j<paramTags.length; j++){
                            paramNames.push(paramTags[j].name);
                        }

                        // Print constructor signature
                        %><h2 id="<%=f.ctx.name%>">p2.<%=f.ctx.name%>(<%=paramNames.join(", ")%>)</h2><%

                        // Extends other class?
                        if(extendsTags.length){
                            %><p>Extends <%-linkMeMaybe(extendsTags[0].string)%>.</p><%
                        }

                        // Summary
                        %><p><%-f.description.summary%></p><%

                        // Parameter descriptions
                        if(paramTags.length){
                            %><h4>Parameters</h4><%
                            %><dl class="dl-horizontal"><%
                            for(var j=0; j<paramTags.length; j++){
                                var p = paramTags[j];
                                if(p.types.length){
                                    %><dt><i class="datatype"><%
                                    var t = p.types[0];
                                    %><%-linkMeMaybe(t)%><%
                                    %></i> <%=p.name%></dt><%
                                }
                                %><dd><%-p.description%></dd><%
                            }
                            %></dl><%
                        }

                        if(f.description.body){
                            %><h4>Description</h4><%
                            %><%-f.description.body%><%
                        }

                        var methods = getCommentsByTag(methodComments,{ type : "memberof", string : f.ctx.name });
                        if(methods.length){
                            %><h4>Methods</h4>
                            <dl><%
                            for(var j=0; j<methods.length; j++){
                                var m = methods[j];
                                var methodParamTags = filterTags(m.tags,{ type : "param" });
                                var params = [];
                                for(var k=0; k<methodParamTags.length; k++){
                                    var type="";
                                    if(methodParamTags[k].types.length)
                                        type=methodParamTags[k].types[0];
                                    params.push('<i class="datatype">' + linkMeMaybe(type)+"</i> "+methodParamTags[k].name);
                                }
                                %><dt>.<%=m.ctx.name%> ( <%-params.join(" , ")%> )</dt><%
                                %><dd><%-m.description.full%></dd><%
                            }
                            %></dl><%
                        }

                        var properties = getCommentsByTag(propertyComments,{ type : "memberof", string : f.ctx.name });
                        if(properties.length){
                            %><h4>Properties</h4>
                            <dl><%
                            for(var j=0; j<properties.length; j++){
                                var type = "";
                                for(var k=0; k<properties[j].tags.length; k++)
                                    if((properties[j].tags[k].type=="member" || properties[j].tags[k].type=="property") && properties[j].tags[k].string.indexOf("{")!=-1)
                                        type =properties[j].tags[k].string.replace(/\{|\}/g,"")
                                %><dt>.<%=properties[j].ctx.name%> <i class="datatype">{ <%-linkMeMaybe(type)%> }</i></dt><%
                                %><dd><%-properties[j].description.full%></dd><%
                            }
                            %></dl><%
                        }

                        %><hr/><%
                    } %>
                </section>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <p>Documentation generated by jox</p>
        <ul class="footer-links">
          <li><a href="http://github.com/schteppe/jox">Github</a></li>
          <li class="muted">&middot;</li>
          <li><a href="http://twitter.com/schteppe">@schteppe</a></li>
        </ul>
      </div>
    </footer>

    <!-- JavaScript -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="js/bootstrap.js"></script>

  </body>
</html>
